{% extends 'base.html'%} {% import "bootstrap/wtf.html" as wtf %}{%block content%}
<div class="container">

    <!-- Modal -->
    <div class="modal fade" id="logs" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add log</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        {{ form.csrf_token }}
                        <p>
                            {{ wtf.quick_form(form) }}
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8" style="margin: 0px auto;">
            {%if logs%}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">Id</th>
                        <th scope="col" class="text-center">Log</th>
                        <th scope="col" class="text-center">Comment</th>
                        <th scope="col" class="text-center">Updated on</th>
                        <th scope="col" class="text-center">Rate</th>
                        <th scope="col" class="text-center">Edit</th>
                        <th scope="col" class="text-center">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {%for item in logs%}
                    <tr>
                        <th scope="col" class="text-center">{{item.id}}</th>
                        <td class="text-center">{{item.name}}</td>
                        <td class="text-center">{{item.comment}}</td>
                        <td class="text-center">{{item.posted}}</td>
                        <td class="text-center">{{item.rate}}</td>
                        <td class="text-center"><img src="https://img.icons8.com/ultraviolet/20/000000/edit.png" /></td>
                        <td class="text-center"><img src="https://img.icons8.com/color/28/000000/delete-forever.png" /></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            {% else %}
            <h3 class="bg-danger text-center">No logs yet</h3>
            {% endif %}
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#logs">
                Add log
               </button>
        </div>
        <div class="col-md-2 ">

        </div>
    </div>
</div>

{%endblock%}